
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rye', cursive;
    cursor: none;
} 

body {
    background-image: url("./Carnival Background 2 (1).jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: -5cm;
    height: 100vh;
    text-align: center;
   }

button {
    color: #000;
    border: 2px solid #fff;
    background: #fac;
    padding: 15px 45px;
    font-size: 0.5cm;
    margin-top: 3em;
    outline: none;
    cursor: none;
    text-align: center;
    position: center;
}

.container {
    position: relative;
    height: 100%;
    overflow: hidden;
    
}

.bullet {
    position: absolute;
    height: 50px;
    z-index: 2;
    transform: translate(70%, 70%)
}

.cursor {
    position: absolute;
    height: 80px;
    transform: translate(30%, 30%);
    pointer-events: none;
    z-index: 2;
    transition: 0.3 transform ease;
    transform-origin: 100% 100%;

}

.target {
    /* position: absolute;
    top: randTop + "px";
    left: randLeft + "px";
    size :inherit; */
    height: 100px;
}

img::selection{
    background: transparent;
}